@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
	font-family: 'Bolder';
	src:
		url('/fonts/Bolder-Light.woff2') format('woff2'),
		url('/fonts/Bolder-Light.woff') format('woff');
	font-display: swap;
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'Bolder';
	src:
		url('/fonts/Bolder-Regular.woff2') format('woff2'),
		url('/fonts/Bolder-Regular.woff') format('woff');
	font-display: swap;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Bolder';
	src:
		url('/fonts/Bolder-RegularItalic.woff2') format('woff2'),
		url('/fonts/Bolder-RegularItalic.woff') format('woff');
	font-display: swap;
	font-style: italic;
	font-weight: 400;
}

@font-face {
	font-family: 'Bolder';
	src:
		url('/fonts/Bolder-Bold.woff2') format('woff2'),
		url('/fonts/Bolder-Bold.woff') format('woff');
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Bolder Heading';
	src:
		url('/fonts/Bolder-Heading.woff2') format('woff2'),
		url('/fonts/Bolder-Heading.woff') format('woff');
	font-display: swap;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf') format('truetype');
	font-display: swap;
	font-stretch: 62.5% 100%;
	font-style: normal;
	font-weight: 100 900;
}

@font-face {
	font-family: 'Noto Sans';
	src: url('/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
	font-display: swap;
	font-stretch: 62.5% 100%;
	font-style: italic;
	font-weight: 100 900;
}

@theme {
	--font-sans: 'Noto Sans', ui-sans-serif, system-ui, sans-serif;
	--font-noto: 'Noto Sans', ui-sans-serif, system-ui, sans-serif;
	--font-bolder: 'Bolder', 'Noto Sans', ui-sans-serif, system-ui, sans-serif;
	--font-heading: 'Bolder Heading', 'Bolder', 'Noto Sans', ui-sans-serif, system-ui, sans-serif;
	--font-display: 'Bolder Heading', 'Bolder', 'Noto Sans', ui-sans-serif, system-ui, sans-serif;
	--color-brand-soft: oklch(98.2% 0.018 155.826);
	--color-brand-muted: oklch(96.2% 0.044 156.743);
	--color-brand-secondary: oklch(62.7% 0.194 149.214);
	--color-brand-main: oklch(52.7% 0.154 150.069);
	--color-brand-hover: oklch(44.8% 0.119 151.328);
}
