@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Noto Sans', ui-sans-serif, system-ui, sans-serif;
	--font-noto: 'Noto Sans', ui-sans-serif, system-ui, sans-serif;
	--font-bolder: 'Noto Sans', ui-sans-serif, system-ui, sans-serif;
	--font-heading: 'Noto Sans', ui-sans-serif, system-ui, sans-serif;
	--font-display: 'Noto Sans', ui-sans-serif, system-ui, sans-serif;
	--color-brand-soft: oklch(98.2% 0.018 155.826);
	--color-brand-muted: oklch(96.2% 0.044 156.743);
	--color-brand-secondary: oklch(62.7% 0.194 149.214);
	--color-brand-main: oklch(52.7% 0.154 150.069);
	--color-brand-hover: oklch(44.8% 0.119 151.328);
}
